<% include ./header %>

	<ol class="breadcrumb">
	  <li><a href="#">文章管理</a></li>
	  <li class="active">编辑文章</li>
	</ol>
	
	<!-- 修改封面 -->
	<form class="formImage articlelist" method="post" action="/admin/articleUpdateImage" enctype="multipart/form-data">
		<!-- 隐藏的 _id 传到 控制器 用来做条件 -->
		<input type="hidden" name="_id" value="<%=data._id%>">
		<div class="container-fluid">
			<div class="col-md-1"></div>
			<div class="col-md-1">修改封面</div>
			<div class="col-md-2">
				<img src="/<%= data.imgurl %>" alt="">
			</div>
			<div class="col-md-3">
				<input type="file" name="imgurl">
				<br>
				<input type="submit" value="修改封面">
			</div>
		</div>
	</form>


	<!-- 修改文本 -->
	<form style="margin-top: 20px" class="formAdd" action="/admin/articleUpdate" method="post"> 
		<input type="hidden" name="_id" value="<%=data._id%>">
		<div class="col-md-4">
			<div class="input-group">
			  <span class="input-group-addon">文章标题</span>
			  <input type="text" class="form-control" name="title" value="<%= data.title %>">
			</div>
		</div>
		<div class="col-md-4">
			<div class="input-group">
			  <span class="input-group-addon">作者</span>
			  <input type="text" class="form-control" name="author" value="<%= data.author %>">
			</div>
		</div>
		<div class="col-md-4">
			<div class="input-group">
				<span class="input-group-addon">所属栏目</span>
				<select class="form-control" name="itemId">
					<% itmes.forEach(function(val){ %>
						<option value="<%= val._id %>"  <%= val._id.toString() == data.itemId.toString() ? 'selected':''%> >
							<%= val.name %>
						</option>
					<% })%>
				</select>
			</div>
		</div>		
		<div class="col-md-12">
			<div class="input-group">
			  <span class="input-group-addon">关键字</span>
			  <input type="text" class="form-control" name="keywords" value="<%= data.keywords %>" >
			</div>
		</div>
		<div class="col-md-12">
			<div class="input-group">
			  <span class="input-group-addon">文章描述</span>
			  <input type="text" class="form-control" name="description" value="<%= data.description %>">
			</div>
		</div>	
		<div class="col-md-12" style="margin-top: 20px;">
			<textarea id="content" name="content"><%= data.content %></textarea>
		</div>

		<div class="col-md-12" style="margin-top:10px;">
			<input type="submit" value="重新发布文章">
		</div>
	</form>

	<!-- 引入 富文本编辑器 -->
	<script src="/ueditor/ueditor.config.js"></script>
	<script src="/ueditor/ueditor.all.min.js"></script>
	<script type="text/javascript">
		// 实例化 编辑器		
		var ue = UE.getEditor('content');
	</script>
<% include ./footer %>
