<% include ./header %>

	<ol class="breadcrumb">
	  <li><a href="#">栏目列表</a></li>
	  <li class="active">列表内容</li>
	</ol>

	<table class="table table-hover">
		<tr>
		    <td>排序</td>
			<td>栏目名称</td>
			<td>栏目简介</td>
			<td>创建时间</td>
			<td>操作</td>
		</tr>	
		<% data.forEach(function(val){ %>
			<tr>
			    <td><%= val.order %></td>
				<td><%= val.name %></td>
				<td><%= val.info %></td>
				<td><%= val.ctime.toLocaleString() %></td>
				<td>
					<a href="/admin/itemEdit/<%= val._id %>"> 编辑</a>
					|
					<a href="/admin/itemDel/<%= val._id %>" onclick="return confirm('您确定要删除吗?')"> 删除</a>
				</td>
			</tr>
		<% }) %>
	</table>





<% include ./footer %>